/* BASE */
@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/animations.css');

/* COMPONENTS */
@import url('./components/buttons.css');

/* LAYOUT */
@import url('./layout/navbar.css');
@import url('./layout/sidenav.css');
@import url('./layout/footer.css');
@import url('./layout/logo.css');

/* SECTIONS */
@import url('./sections/common.css');
@import url('./sections/hero.css');
@import url('./sections/services.css');
@import url('./sections/catering.css');
@import url('./sections/extras.css');
@import url('./sections/gallery.css');
@import url('./sections/contact.css');
@import url('./sections/location.css');
@import url('./sections/reviews.css');