.contact-container{max-width:500px;margin:0 auto}.contact-info-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(230px,1fr));gap:20px}@media (max-width:640px){.contact-container{max-width:100%}}
